<header class='top-page-header'>
 <div>
  <%= link_to "/", class: "title-logo-content" do %>
  <%= image_tag '驚き閃きそんなアイコン.png', size: '40x40' %>
  <div class="title-logo">BreakPoint</div>
  <% end %>
 </div>
 <ul class="lists-user">
 <% if user_signed_in? %>
  <li class="user-content-lists"><%= link_to current_user.name, "#", class: "header-right" %></li>
  <li class="user-content-lists"><%= link_to "good一覧", "#", class: "header-right" %></li>
  <li class="user-content-lists"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-right" %></li>
 <% else %>
  <li class="user-content-lists"><%= link_to 'ログイン',  new_user_session_path, class: "header-right" %></li>
  <li class="user-content-lists"><%= link_to '新規登録', new_user_registration_path, class: "header-right" %></li>
 <% end %>
 </ul>
</header>