<header class='top-page-header'>
 <div>
  <%= link_to 'BreakPoint', "/", class: "title-logo" %>
 </div>
 <ul class="lists-user">
 <% if user_signed_in? %>
  <li><%= link_to current_user.name, "#", class: "header-right" %></li>
  <li><%= link_to "good一覧", "#", class: "header-right" %></li>
  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-right" %></li>
 <% else %>
  <li><%= link_to 'ログイン',  new_user_session_path, class: "header-right" %></li>
  <li><%= link_to '新規登録', new_user_registration_path, class: "header-right" %></li>
 <% end %>
 </ul>
</header>