<%= form_with model: @user, url: user_session_path, class: "sign-in-form", local: true do |f| %>
    <h2 class="sign-in-title">ログイン</h2>

    <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  
  <div class="field">
    <div class="contents-title">メールアドレス</div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <div class="contents-title">パスワード</div>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: "sign-in-btn" %>
  </div>
<% end %>




