<div class="room-contents">

<%= link_to('rooms/new', url: new_room_path, class: "create-room-btn") do %>
<div class="create-room-contents">
  <%= image_tag '会議アイコン3.png', size: '60x60', class: "create-room-icon" %>
  <p class="create-room-text">チャットルームを作成する</p>
</div>
<% end %>

<div class="room_contents">
 <h1 class="title">チャットルーム一覧</h1>
 <ul class="room-lists">
  <% @room.each do |room| %>
    <li class="room-list">
    <div class="room-title">
      <%= image_tag'会話アイコン.png', size: '30x30', class: "room-icon" %>
      <%= room.agenda %>
    </div>
    <%= link_to room_path(room.id), class:"room-name" do %>
      <div class="enter-room-btn">入室する</div>
    <% end %>
    <li>
  <% end %>
 </ul>
 </div>
</div>

