<div class="new-create-contents">
<h1 class="create-room-title">チャットルームの作成</h1>
<%= form_with model: @room, url: rooms_path, local: true do |f| %>

<%= render 'shared/error_messages', model: f.object %>

<div class="new-room">
  <div class="contents-tile">ルームのアジェンダを設定</div>
  <%= f.text_area :agenda, class:"room-agenda", placeholder:"例) あなたは犬派？それとも猫派？" %>

  <div class="contents-tile">2つのスタンスを設定</div>
    <div class="stance-contents-title">
      <div class="stance-A-title">スタンスA</div>
      <%= f.text_area :stanceA, class:"room-stanseA", placeholder:"例) 犬派" %>
    </div>

    <div class="stance-contents-title">
      <div class="stance-B-title">スタンスB</div>
      <%= f.text_area :stanceB, class:"room-stanceB", placeholder:"例) 猫派" %>
    </div>

  <div class="room-create-btn-contents">
    <%= f.submit "ルーム作成" ,class:"room-create-btn" %>
    <%=link_to 'もどる', root_path, class:"back-btn" %>
  </div>

  </div>
  </div>
<% end %>
</div>