<div class="chat-room-contents">

<div class="room-titles">
  <div class="agenda-content">
    <div class="contents-title">このルームのアジェンダ</div>
  <div class="agenda">
    <%= @room.agenda %>
  </div>
</div>

<div class="content">
  <div class="stance-contents">
    <div class="contents-title">このルームのスタンス</div>
    <div class="stance-content">
      <div class="stance-title">スタンスA</div>
      <div class="stance">
        <%= @room.stanceA %>
      </div>
    </div>
    
    <div class="stance-content">
      <div class="stance-title">スタンスB</div>
      <div class="stance">
        <%= @room.stanceB %>
      </div>
    </div>
  </div>

<% if user_signed_in? && current_user.id == @room.user.id %>
<ul class="owner-menu">
  <li class="owner-menu-list">
    <a href="#" class="init-bottom">
      メニュー<%= image_tag '矢印アイコン 下4.png', size: '12x12', class: "owner-menu-icon" %>
    </a>
  <ul class="second-menu">
    <li>
    <%= link_to room_path(@room.id), method: :delete, class: "room-destroy" do %>
      <%= image_tag 'ゴミ箱のアイコン素材.png', size: '16x16' %>
      ルーム削除
    <% end %>
    </li>
  </ul>
  </li>
</ul>
<% end %>

</div>

</div>

<div class="chat-contents">

  <div class="chat-view">
  
  <div class="coments">
  <% @posts.each do |post| %>
  <div class="post-contents">
    <div class="side_a">
    <% if post.post_b == nil %>
      <div class="speach_bubble_left">
        <%= post.post_a %>
        <div class="user-states">
          <div class="user-name">
            name:<%= post.user.name %>
          </div>
          <%= post.user.gender.name %>
          <%= post.user.prefecture.name %>
          <%= post.user.job.name %>
        </div>
        <% if current_user.id == post.user_id %>
          <%= link_to room_post_path(@room, post), method: :delete, class: "post-destroy" do %>
            <%= image_tag 'ゴミ箱のアイコン素材.png', size: '13x13' %>
            削除
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
    <div class="side_b">
    <% if post.post_a == nil %>
      <div class="speach_bubble_right">
        <%= post.post_b %>
        <div class="user-states">
          <div class="user-name">
            name:<%= post.user.name %>
          </div>
          <%= post.user.gender.name %>
          <%= post.user.prefecture.name %>
          <%= post.user.job.name %>
        </div>
        <% if current_user.id == post.user_id %>
          <%= link_to room_post_path(@room, post), method: :delete, class: "post-destroy" do %>
            <%= image_tag 'ゴミ箱のアイコン素材.png', size: '13x13' %>
            削除
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
  </div>

  </div>

  <div class="chat-form">
    <input type="radio" name="tab_name" id="tab_a">
    <label class="tab_content" for="tab_a">スタンスA</label>
    <div class="chat-content">
      
      <%= form_with(model: [@room, @post], local: true) do |f| %>
      <div class="form-input">
        <%= f.text_area :post_a, class: 'form-comment', placeholder: 'スタンスAとしてコメント' %>
      </div>
      <%= f.submit 'コメントを投稿する', class: 'form-submit' %>
      <% end %>

    </div>
    <input type="radio" name="tab_name" id="tab_b">
    <label class="tab_content" for="tab_b">スタンスB</label>
    <div class="chat-content">
      
      <%= form_with(model: [@room, @post], local: true) do |f| %>
      <div class="form-input">
        <%= f.text_area :post_b, class: 'form-comment', placeholder: 'スタンスBとしてコメント' %>
      </div>
      <%= f.submit 'コメントを投稿する', class: 'form-submit' %>
      <% end %>

    </div>
  </div>

</div>

</div>