<div class="chat-room-contents">

<div class="room-titles">
  <div class="content">
  <div class="contents-title">このルームのアジェンダ</div>
  <div class="agenda">
    <%= @room.agenda %>
  </div>
</div>

<div class="content">
<div class="contents-title">このルームのスタンス</div>
  <div class="stance-contents">
    <div class="stance-content">
      <div class="stance-title">スタンスA</div>
      <div class="stance">
        <%= @room.stanceA %>
      </div>
    </div>
    
    <div class="stance-content">
      <div class="stance-title">スタンスB</div>
      <div class="stance">
        <%= @room.stanceB %>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.id == @room.user_id %>
<ul class="owner-menu">
  <li class="owner-menu-list">
    <a href="#" class="init-bottom">
      <span>menu</span><%= image_tag '矢印アイコン　下4.png', size: '12x12', class: "owner-menu-icon" %>
    </a>
  <ul class="second-menu">
    <%= link_to room_path, method: :delete, class: "room-destroy" do %>
    <li>
      <%= image_tag'バックスペースのアイコン素材.png', size: '16x16', class:"destroy-icon" %>
      <span>削除</span>
    </li>
    <% end %>
  </ul>
  </li>
</ul>
<% end %>

</div>

<div class="chat-contents">

  <div class="chat-view">
  ここにコメントを表示
  </div>

  <div class="chat-form">
    <input type="radio" name="tab_name" id="tab_a">
    <label class="tab_content" for="tab_a">スタンスA</label>
    <div class="chat-content">
      スタンスAのチャットフォーム
    </div>
    <input type="radio" name="tab_name" id="tab_b">
    <label class="tab_content" for="tab_b">スタンスB</label>
    <div class="chat-content">
      スタンスBのチャットフォーム
    </div>
  </div>

</div>

</div>